[Unit]
Description=Periwinkle
Wants=mpd.service
After=mpd.service
BindsTo=mpd.service

[Service]
ExecStart=/usr/bin/periwinkle daemon
ExecStopPost=/bin/rm /tmp/pw_daemonmode
Restart=on-failure
Slice=session.slice
Environment=daemonmode=true

[Install]
WantedBy=default.target
Alias=periwinkle.service
